<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Teste</title>
        <link rel="stylesheet" type="text/css" href="a.css">    

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="a.js"></script>
    </head>

    <body>
        <div style="border: 0">
            <div id="extwaiokist" style="display:none" v="kmiah" q="d2e23e28" c="308.5" i="331" u="70.51" s="09102106" d="1" w="false" e="" m="BMe=" wfd-invisible="true"><div id="extwaigglbit" style="display:none" v="kmiah" q="d2e23e28" c="308.5" i="331" u="70.51" s="09102106" d="1" w="false" e="" m="BMe=" wfd-invisible="true"></div>
        </div>
        <!-- div top pai -->
        <div class="" style="background-color: rgb(255, 255, 255); 
            justify-content: center; 
            align-items: center; 
            gap: 2px; 
            display: flex; 
            flex-direction: row; 
            border: 2px solid black; 
            flex-grow: 1; 
            height: 48px;">
            <div class="" style="justify-content: flex-end; 
                align-items: center; 
                gap: 2px; 
                display: flex; 
                flex-direction: row; 
                border: 0px solid black; 
                flex-grow: 0;">
                <div style="border-width: 0px; width: 50px" class="">Home</div>
                <div style="border-width: 0px; width: 50px" class="">Sobre</div>
            </div>
            <div class="" style="justify-content: center; 
                align-items: center; 
                gap: 2px; 
                display: flex; 
                flex-direction: row; 
                border: 0px solid black; 
                flex-grow: 1; 
                background-color: rgb(255, 255, 255);">
            </div>
            <div class="" style="flex-grow: 0; 
                justify-content: center; 
                align-items: center; 
                gap: 2px; 
                display: flex; 
                flex-direction: row; 
                border: 0px solid black;">
                <div style="border-width: 0px; width: 40px" class="">Sair</div>
                <div style="border-width: 0px; width: 40px" class="">Conta</div>
            </div>
        </div> <!-- final div top pai-->
        <!-- div center pai-->
        <div class="" style="background-color: rgb(255, 255, 255); 
            width: 100%; 
            height: 100%; 
            justify-content: flex-start; 
            align-items: flex-start; 
            gap: 2px; 
            display: flex; 
            flex-direction: row; 
            border: 0px solid black;">
            <!-- div left filho-->
            <div style="height: 100%; 
                flex-grow: 0; 
                justify-content: flex-start; 
                align-items: flex-start;
                display: inline-flex;
                flex-direction: column; 
                width: 140px; 
                border: 0px solid black;
                border-width: 2px;" class="">
                <div style="background-color: rgb(255, 255, 255);" class="">Conceito</div>
                <div style="border-width: 0px;" class="">Projeto</div>
                <div style="border-width: 0px;" class="">Informações</div>
                <div style="background-color: rgb(255, 255, 255);" class="">Curiosidades</div>
            </div>
            <!-- div center filho-->
            <div class="" style="flex-grow: 1; 
                height: 100%; 
                border-width: 0px;">
                <p> 
                    <p> Significado da Gestalt </p>
                    <p> O que é a Gestalt: </p>
                    <p> Gestalt, Gestaltismo ou Psicologia da Forma é uma doutrina da psicologia baseada na ideia da compreensão da totalidade para que haja a percepção das partes. Gestalt é uma palavra de origem germânica, com uma tradução aproximada de “forma” ou “figura”. </p>

                    <p> A teoria da Gestalt, também conhecida como Psicologia da Gestalt ou Psicologia da Boa Forma, faz parte dos estudos da percepção humana, que começaram a se desenvolver entre o final do século XIX e os primeiros anos do século XX. Os pioneiros desta doutrina e formuladores das Leis da Gestalt foram os psicólogos Kurt Koffka, Wolfgang Köhler e Max Werteimer. </p>

                    <p> A Gestalt surgiu como uma doutrina de oposição ao Atomismo, uma filosofia que acreditava ser possível a percepção do todo apenas após a compreensão das diferentes partes. </p>

                    <p> De acordo com o psicólogo austríaco Christian von Ehrenfels, a percepção humana é formada a partir da junção de duas características das formas: as sensíveis (relativo ao objeto em si) e as formais (os ideais e visões de mundo particulares de cada indivíduo). </p>

                    <p> Leis da Gestalt </p>
                    <p> Essas leis foram estabelecidas a partir da observação do comportamento do cérebro ao longo do processo de percepção das formas e imagens. </p>

                    <p> As Leis Básicas da Gestalt são: Semelhança, Proximidade, Continuidade, Pregnância, Fechamento e Unidade. </p>

                    <p> Lei da Semelhança: imagens similares tendem a se agruparem entre si, de acordo com a percepção da mente humana. </p>
                    <p> Lei da Semelhança - Gestalt </p>

                    <p> Lei da Proximidade: elementos próximos tendem a se agrupar, formando imagens únicas. </p>
                    <p> Lei da Proximidade - Gestalt </p>

                    <p> Lei da Continuidade: pontos que são conectados pelo formato de uma reta ou curva, transmitem a sensação de haver uma única linha que os ligam. </p>
                    <p> Lei da Continuidade - Gestalt </p>

                    <p> Lei da Pregnância (Lei da Simplicidade): os elementos presentes em determinado ambiente são vistos da forma mais simples possível, isto para que haja a rápida assimilação do ambiente ou do elemento. </p>
                    <p> Lei da Pregnância - Gestalt </p>

                    <p> Lei do Fechamento: elementos que aparentam se completar são interpretados como um objeto completo. </p>
                    <p> Lei do Fechamento - Gestalt </p>

                    <p> Lei da Unidade (Lei da Unificação): espaços vazios de imagens abstratas são preenchidos instintivamente para que sejam compreendidas pela menta humana. </p>
                    <p> Lei da Unificação - Gestalt </p>

                    <p> Ver também: o significado da Psicologia. </p>

                    <p> Gestalt-terapia </p>
                    <p> É uma prática psicoterapêutica desenvolvida pelos teóricos e psicoterapeutas Fritz Perls, Laura Perls e Paul Goodman, em meados do século XX. </p>

                    <p> Inspirado na Psicologia da Gestalt, no Existencialismo, na Fenomenologia, na Teoria de Campo de Lewin, entre outras doutrinas, a Gestalt-terapia apresenta uma proposta mais “poética” da psicoterapia. </p>

                    <p> A proposta deste modelo é associar praticas cognitivas com as emoções e sentimentos do paciente, para que ele possa enxergar novos meios de encarar as situações difíceis da vida. </p>

                    <p> Algumas pessoas consideram a Gestalt-terapia, como uma corrente filosófica existencial, onde a pessoa que está sob tratamento tem o objeto de dominar a “arte de viver”. </p>

                    <p> Também conhecida como “Terapia do Contato”, a Gestalt-terapia busca a interação com as partes conhecidas e desconhecidas da identidade do indivíduo, fazendo com que possa desenvolver o seu potencial, o autoconhecimento e o crescimento como ser humano. </p>
                </p>
            </div>
            <!-- div right filho-->
            <div style="height: 100%; 
                width: 15%; 
                border: 2px solid black;
                border-width: 2px;" class="">
                <div class="" style="background-color: rgb(255, 255, 255);"></div>
                <div style="border-width: 0px;" class="">propaganda 1</div>
                <div style="border-width: 0px;" class="">propaganda 2</div>
                <div style="background-color: rgb(255, 255, 255);"></div>
            </div>
        </div>
        <div class="" style="border: 2px solid black; background-color: rgb(255, 255, 255);">
            <div class="" style="height: 100%; width: 100%; background-color: rgb(255, 255, 255);">
                Dúvidas sobre a página?
                <div style="height: 100%; width: 100%; background-color: rgb(255, 255, 255);" class="">
                    Página para boletim acadêmico. 
                </div>
            </div>
        </div>

        </div>
    </body>
</html>
